[submodule "Poverty-Draft"]
	path = Poverty-Draft
	url = https://github.com/marcosfeng/Poverty-Draft.git
[submodule "Marcos-Gallo-PhD-Thesis"]
	path = Marcos-Gallo-PhD-Thesis
	url = https://github.com/marcosfeng/Marcos-Gallo-PhD-Thesis.git
